body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;  
}
/* footer{
    margin-top: auto;
    text-align: center;
    padding: 24px 200px;
} */
footer{
    position:fixed;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    padding: 24px 200px;
}

.header,
.section1,
footer{
    background-color: #1F2937;
}

.header,
.section2,
.section4{
    padding: 0px 200px;
}

h1{
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: extra bold;
    font-size: 48px;
    color: #F9FAF8;
}
.img1{
    width: 800px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb7c;
    color: white;
}
ul{
    display:flex;
    list-style-type: none;
    gap: 24px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
.section1{
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    gap: 30px;
}
.container1{
    display:flex;
    flex-direction: column;

}
.subtext{
    color: #E5E7EB;
    font-size: 18px;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.info-img{
    height: 160px;
    width: 160px;
    border-radius: 10px;
    border: 3px solid #3882F6 ;
    background-color: white;
    margin-bottom: 10px;
}
h2{
    text-align: center;
    margin: 35px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}
.container2{
    display:flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
    flex-wrap: wrap; /* To ensure the boxes wrap to next line if size is decreased too much */
}
.info{
    max-width: 160px;
    text-align: center;
    color: #1F2937;
    font-size: 18px;
}

.section3{
    background-color: #E5E7EB;
    padding: 100px 200px;
}